<h1>Your Photos</h1>
<%= link_to "Add a Photo", new_photo_path %>
  <br>
  <% @photos.each do |f|  %>
    <%= image_tag f.url %>
    <br>
    <%= f.caption %>
    <br>
    <%= form_for :comment,  do |s| %>
    <p> Have a thought? </p>
      <%= s.label :text %>
      <%= s.text_field :text %>
      <%= s.submit "Add Comment" %>
      <% end %>
    <% end %>
