<h1>New Photo</h1>

<%= form_for :photo, url: photos_path do |f| %>
  <%= f.label :url %>
  <%= f.text_field :url %>
  <%= f.label :caption %>
  <%= f.text_field :caption %>
  <%= f.select :category, category: ['Funny', 'Travel', 'Tech'] %>
  <%= f.submit  %>
<% end %>
